.ui-pagination {
    margin: 18px 0;
}

.ui-pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.ui-pagination ul>li {
    display: inline;
}

.ui-pagination ul>li>a,
.ui-pagination ul>li>span {
    position: relative;
    float: left;
    padding: 2px 7px;
    line-height: 18px;
    text-decoration: none;
    color: #28a3ef;
    background-color: #ffffff;
    border: 1px solid #e0e9ee;
    margin-left: -1px;
    color: #526069;
}

.ui-pagination ul>li>a>i.ui-icon,
.ui-pagination ul>li>span>i.ui-icon {
    line-height: 18px;
}

.ui-pagination ul>li>a:hover,
.ui-pagination ul>li>a:focus {
    color: #ffffff;
    background-color: #4cb9fc;
    border-color: #4cb9fc;
    background-color: #526069;
    border-color: #e0e9ee;
}

.ui-pagination ul>.active>a,
.ui-pagination ul>.active>span {
    background-color: #28a3ef;
    color: #ffffff;
    border-color: #28a3ef;
    cursor: default;
    background-color: #526069;
    border-color: #e0e9ee;
}

.ui-pagination ul>.active>a:hover,
.ui-pagination ul>.active>span:hover,
.ui-pagination ul>.active>a:focus,
.ui-pagination ul>.active>span:focus {
    background-color: #28a3ef;
    color: #ffffff;
    border-color: #28a3ef;
    background-color: #526069;
    border-color: #e0e9ee;
}

.ui-pagination ul>.dotted>span,
.ui-pagination ul>.dotted>a {
    border-top: none;
    border-bottom: none;
}

.ui-pagination ul>.disabled>span,
.ui-pagination ul>.disabled>a,
.ui-pagination ul>.disabled>a:hover,
.ui-pagination ul>.disabled>a:focus {
    color: #999999;
    background-color: transparent;
    cursor: default;
}

.ui-pagination ul>.prev>span,
.ui-pagination ul>.next>span,
.ui-pagination ul>.prev>a,
.ui-pagination ul>.next>a {
    background-color: #fafafa;
}

.ui-pagination ul>.disabled.prev>span:hover,
.ui-pagination ul .disabled.next>span:hover,
.ui-pagination ul>.disabled.prev>span:focus,
.ui-pagination ul .disabled.next>span:focus,
.ui-pagination ul>.disabled.prev>a:hover,
.ui-pagination ul .disabled.next>a:hover,
.ui-pagination ul>.disabled.prev>a:focus,
.ui-pagination ul .disabled.next>a:focus {
    background-color: #fafafa;
    border-color: #e0e9ee;
}

.ui-pagination ul>.disabled.prev>a:hover {
    background-color: #00F;
}

.ui-pagination ul>li:first-child>a,
.ui-pagination ul>li:first-child>span {
    border-left-width: 1px;
}

.ui-pagination ul>li:last-child>a,
.ui-pagination ul>li:last-child>span {}

.ui-pagination .prev+.prev a,
.ui-pagination .next+.next a {
    margin-left: 5px;
}

.ui-pagination .ex-page-num {
    display: inline-block;
    height: 18px;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 18px;
    color: #555555;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 18px;
    float: left;
    margin: 0px 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-pagination .ex-page-num:focus {
    border-color: #28a3ef;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
}

.ui-pagination div {
    display: inline-block;
    color: #333333;
}

.ui-pagination div .page-num {
    display: inline-block;
    height: 18px;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 18px;
    color: #555555;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
    width: 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: width 0.1s linear 0.1s;
    -moz-transition: width 0.1s linear 0.1s;
    -ms-transition: width 0.1s linear 0.1s;
    transition: width 0.1s linear 0.1s;
}

.ui-pagination div .page-num:focus {
    border-color: #28a3ef;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
}

.ui-pagination div .page-num+.page-confirm {
    display: inline-block;
    padding: 2px 14px;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #28a3ef;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #1299ec;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    vertical-align: top;
}

.ui-pagination div .page-num+.page-confirm:hover,
.ui-pagination div .page-num+.page-confirm:focus {
    color: #333333;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}

.ui-pagination div .page-num+.page-confirm.disabled,
.ui-pagination div .page-num+.page-confirm[disabled],
.ui-pagination div .page-num+.page-confirm.disabled:hover,
.ui-pagination div .page-num+.page-confirm[disabled]:hover,
.ui-pagination div .page-num+.page-confirm.disabled:focus,
.ui-pagination div .page-num+.page-confirm[disabled]:focus,
.ui-pagination div .page-num+.page-confirm.disabled:active,
.ui-pagination div .page-num+.page-confirm[disabled]:active,
.ui-pagination div .page-num+.page-confirm.disabled.active,
.ui-pagination div .page-num+.page-confirm[disabled].active {
    color: #c6c6c6;
    background-color: #f3f3f3;
    border-color: #e6e6e6;
}

.ui-pagination div .page-num+.page-confirm:active,
.ui-pagination div .page-num+.page-confirm.active {
    background-color: #e1e1e1;
    border: 1px solid #d5d5d5;
}

.ui-pagination div .page-num+.page-confirm:hover,
.ui-pagination div .page-num+.page-confirm:focus {
    color: #333333;
    text-decoration: none;
}

.ui-pagination div .page-num+.page-confirm:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: none;
}

.ui-pagination div .page-num+.page-confirm.active,
.ui-pagination div .page-num+.page-confirm:active {
    background-image: none;
}

.ui-pagination div .page-num+.page-confirm.disabled,
.ui-pagination div .page-num+.page-confirm[disabled] {
    cursor: default;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-pagination div .page-num+.page-confirm .ui-icon {
    line-height: 1;
}

.ui-pagination div .page-num+.page-confirm .ui-icon:after {
    content: " ";
}

.ui-pagination div .page-num+.page-confirm.btn-bordered {
    background-color: transparent;
    border: 1px solid #8c8c8c;
    color: #8c8c8c;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered:hover,
.ui-pagination div .page-num+.page-confirm.btn-bordered:focus {
    border: 1px solid #666666;
    color: white;
    background-color: #666666;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered:active,
.ui-pagination div .page-num+.page-confirm.btn-bordered.active {
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d;
    color: #ffffff;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-primary {
    border: 1px solid #1299ec;
    color: #1299ec;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-primary:hover,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-primary:focus {
    border: 1px solid #4cb9fc;
    color: white;
    background-color: #4cb9fc;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-primary:active,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-primary.active {
    background-color: #1aa5fb;
    border: 1px solid #1aa5fb;
    color: #ffffff;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-warning {
    border: 1px solid #e1b203;
    color: #e1b203;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-warning:hover,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-warning:focus {
    border: 1px solid #fbd238;
    color: white;
    background-color: #fbd238;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-warning:active,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-warning.active {
    background-color: #fac706;
    border: 1px solid #fac706;
    color: #ffffff;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-danger {
    border: 1px solid #e8351f;
    color: #e8351f;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-danger:hover,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-danger:focus {
    border: 1px solid #ed6a5a;
    color: white;
    background-color: #ed6a5a;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-danger:active,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-danger.active {
    background-color: #e8402c;
    border: 1px solid #e8402c;
    color: #ffffff;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-success {
    border: 1px solid #34c360;
    color: #34c360;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-success:hover,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-success:focus {
    border: 1px solid #49de79;
    color: white;
    background-color: #49de79;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-success:active,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-success.active {
    background-color: #25cf5c;
    border: 1px solid #25cf5c;
    color: #ffffff;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-info {
    border: 1px solid #46b8da;
    color: #46b8da;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-info:hover,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-info:focus {
    border: 1px solid #85d0e7;
    color: white;
    background-color: #85d0e7;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-info:active,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-info.active {
    background-color: #5bc0de;
    border: 1px solid #5bc0de;
    color: #ffffff;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-inverse {
    border: 1px solid #373737;
    color: #373737;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-inverse:hover,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-inverse:focus {
    border: 1px solid #222222;
    color: white;
    background-color: #222222;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-inverse:active,
.ui-pagination div .page-num+.page-confirm.btn-bordered.btn-inverse.active {
    background-color: #080808;
    border: 1px solid #080808;
    color: #ffffff;
}

.ui-pagination div .page-num+.page-confirm.btn-bordered.disabled,
.ui-pagination div .page-num+.page-confirm.btn-bordered[disabled],
.ui-pagination div .page-num+.page-confirm.btn-bordered.disabled:hover,
.ui-pagination div .page-num+.page-confirm.btn-bordered[disabled]:hover,
.ui-pagination div .page-num+.page-confirm.btn-bordered.disabled:focus,
.ui-pagination div .page-num+.page-confirm.btn-bordered[disabled]:focus {
    border-color: #c6c6c6;
    color: #c6c6c6;
    background: #f3f3f3;
}

.ui-pagination div .page-num+.page-confirm .ui-label {
    position: relative;
    top: -1px;
}

.ui-pagination div .page-num+.page-confirm:hover,
.ui-pagination div .page-num+.page-confirm:focus {
    color: #ffffff;
    background-color: #4cb9fc;
    border: 1px solid #33affc;
}

.ui-pagination div .page-num+.page-confirm.disabled,
.ui-pagination div .page-num+.page-confirm[disabled],
.ui-pagination div .page-num+.page-confirm.disabled:hover,
.ui-pagination div .page-num+.page-confirm[disabled]:hover,
.ui-pagination div .page-num+.page-confirm.disabled:focus,
.ui-pagination div .page-num+.page-confirm[disabled]:focus,
.ui-pagination div .page-num+.page-confirm.disabled:active,
.ui-pagination div .page-num+.page-confirm[disabled]:active,
.ui-pagination div .page-num+.page-confirm.disabled.active,
.ui-pagination div .page-num+.page-confirm[disabled].active {
    color: #c6c6c6;
    background-color: #f3f3f3;
    border-color: #e6e6e6;
}

.ui-pagination div .page-num+.page-confirm:active,
.ui-pagination div .page-num+.page-confirm.active {
    background-color: #1299ec;
    border: 1px solid #1089d4;
}

.ui-pagination div .page-num+.page-confirm .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.ui-pagination div .page-num:focus {
    width: 50px;
}

.ui-pagination div .page-num:focus+.page-confirm {
    display: inline-block;
}